:host {
  --row-height: 15.6px;

  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  #input-text,
  #output-text {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    white-space: break-spaces;
  }

  #input-text:empty::after {
    content: 'Enter text here';
    opacity: 0.5;
  }
}
