<div class="left">
  <!-- radio -->
  <form [noValidate]="true" (change)="onSettingsChange()">
    <label>
      <input type="checkbox" name="headers" [(ngModel)]="showHeaders" />
      Headers 1st row
    </label>
    <label>
      <input
        type="checkbox"
        name="horizontal-lines"
        [(ngModel)]="showAllHorizontalLines"
      />
      All horizontal lines
    </label>

    <div>Border style</div>
    <label>
      <input
        type="radio"
        name="border"
        value="norc"
        [(ngModel)]="border"
        checked
      />
      Single
    </label>
    <label>
      <input
        type="radio"
        name="border"
        value="honeywell"
        [(ngModel)]="border"
        checked
      />
      Double
    </label>
    <label>
      <input
        type="radio"
        name="border"
        value="ramac"
        [(ngModel)]="border"
        checked
      />
      ASCII
    </label>
    <label>
      <input
        type="radio"
        name="border"
        value="void"
        [(ngModel)]="border"
        checked
      />
      None
    </label>

    <label class="separator" for="separator">
      Separator

      <div class="separators">
        <button
          [class.selected]="isSelected('\t')"
          (click)="setSeparator('\t')"
        >
          Tab
        </button>
        <button [class.selected]="isSelected(',')" (click)="setSeparator(',')">
          ,
        </button>
        <button [class.selected]="isSelected('|')" (click)="setSeparator('|')">
          |
        </button>

        <input
          type="text"
          id="separator"
          name="separator"
          [(ngModel)]="separator"
          (input)="onSettingsChange()"
        />
      </div>
    </label>
  </form>
</div>
<div class="right">
  <pre
    class="right-top"
    contenteditable="true"
    (input)="onUserPropertyChanged($event)"
  ></pre>
  <pre class="right-bottom" [@fadeInOut]="outputText">{{ outputText }}</pre>
  <button
    class="copy"
    [class.copied]="copied"
    [class.show]="outputText?.length! > 0"
    (click)="copyToClipboard()"
  >
    <i class="fas fa-copy"></i>
    {{ copied ? "Copied!" : "Copy" }}
  </button>
</div>
