<div class="w-auto left">
  <!-- radio -->
  <form
    [noValidate]="true"
    (change)="onSettingsChange()"
    class="flex flex-col gap-1 pt-4 pl-4"
  >
    <label class="flex gap-4 align-middle">
      <input
        type="checkbox"
        name="headers"
        [(ngModel)]="showHeaders"
        class="toggle toggle-primary"
        [disabled]="showAllHorizontalLines"
      />
      Headers 1st row
    </label>
    <label class="flex gap-4 align-middle">
      <input
        type="checkbox"
        name="horizontal-lines"
        [(ngModel)]="showAllHorizontalLines"
        class="toggle toggle-primary"
      />
      All horizontal lines
    </label>
    <label class="flex gap-4 align-middle">
      <input
        type="checkbox"
        name="horizontal-lines"
        [(ngModel)]="showEmptyAsDash"
        class="toggle toggle-primary"
      />
      Show empty as <code>&mdash;</code>
    </label>

    <div class="m-0 divider"></div>

    <label class="label">
      <span class="label-text">Border Style</span>
    </label>

    <label class="flex gap-4 align-middle">
      <input
        type="radio"
        name="border"
        value="norc"
        [(ngModel)]="border"
        class="radio radio-primary"
      />
      Single
    </label>
    <label class="flex gap-4 align-middle">
      <input
        type="radio"
        name="border"
        value="honeywell"
        [(ngModel)]="border"
        class="radio radio-primary"
      />
      Double
    </label>
    <label class="flex gap-4 align-middle">
      <input
        type="radio"
        name="border"
        value="ramac"
        [(ngModel)]="border"
        class="radio radio-primary"
      />
      ASCII
    </label>
    <label class="flex gap-4 align-middle">
      <input
        type="radio"
        name="border"
        value="void"
        [(ngModel)]="border"
        class="radio radio-primary"
      />
      None
    </label>

    <div class="m-0 divider"></div>

    <div class="box-border flex flex-col gap-2 pr-4">
      <label class="label">
        <span class="label-text"
          >Separator: <span class="italic">{{ activeSeparator }}</span>
          <span *ngIf="separator === Separators.AUTO_DETECT" class="text-2xs">
            (auto)</span
          >
        </span>
      </label>
      <div class="btn-group">
        <input
          type="radio"
          name="options"
          data-title="Auto"
          class="btn btn-square btn-ghost"
          [value]="Separators.AUTO_DETECT"
          [checked]="separator === Separators.AUTO_DETECT && !customSeparator"
          [(ngModel)]="separator"
        />
        <input
          type="radio"
          name="options"
          data-title="Tab"
          class="btn btn-square btn-ghost"
          [value]="Separators.TAB"
          [checked]="separator === Separators.TAB && !customSeparator"
          [(ngModel)]="separator"
        />
        <input
          type="radio"
          name="options"
          data-title="4 Spaces"
          class="btn btn-square btn-ghost text-2xs"
          [value]="Separators.FOUR_SPACES"
          [checked]="separator === Separators.FOUR_SPACES && !customSeparator"
          [(ngModel)]="separator"
        />
        <input
          type="radio"
          name="options"
          data-title=","
          class="btn btn-square btn-ghost"
          [value]="Separators.COMMA"
          [checked]="separator === Separators.COMMA && !customSeparator"
          [(ngModel)]="separator"
        />
        <input
          type="radio"
          name="options"
          data-title="|"
          class="btn btn-square btn-ghost"
          [value]="Separators.PIPE"
          [checked]="separator === Separators.PIPE && !customSeparator"
          [(ngModel)]="separator"
        />
      </div>
      <div class="form-control">
        <label class="input-group input-group-sm">
          <span>Custom</span>
          <input
            type="text"
            class="w-40 input input-bordered input-sm"
            name="separator"
            [(ngModel)]="customSeparator"
            (input)="onSettingsChange()"
          />
        </label>
      </div>
    </div>

    <div class="m-0 divider"></div>

    <label class="label">
      <div class="label-text">Tips:</div>
    </label>

    <p class="text-sm">
      Add <code class="text">---</code> for horizontal divider
    </p>
  </form>
</div>

<div class="w-1 m-0 divider divider-horizontal"></div>

<div
  class="right p-0 grid grid-rows-[1fr_2px_1fr] gap-2 w-full overflow-hidden"
>
  <pre
    class="px-4 py-2 overflow-auto rounded right-top outline-0 :active:border-2"
    contenteditable="true"
    (input)="onUserPropertyChanged($event)"
  ></pre>

  <button
    class="absolute btn btn-circle btn-sm dark:btn-outline top-20 right-6"
    *ngIf="(inputText ?? '').length > 0"
    (click)="clearInput()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>

  <div class="h-1 m-0 divider"></div>

  <pre
    class="right-bottom px-4 py-2 rounded overflow-auto leading-[19px]"
    placeholder="Paste data here"
    >{{ outputText }}</pre
  >

  <button
    class="absolute gap-2 opacity-0 btn btn-primary btn-sm bottom-4 right-4 w-28 opa"
    [class.opacity-100]="outputText.length > 0"
    [class.btn-success]="copied"
    (click)="copyToClipboard()"
  >
    <i class="fas fa-copy"></i>
    {{ copied ? 'Copied!' : 'Copy' }}
  </button>
</div>
