<div class="w-auto text-sm left" [@fadeInOut]>
  <form [noValidate]="true" (change)="onSettingsChange()" class="flex flex-col gap-1 pt-4 pl-4">
    <label class="flex gap-4 align-middle cursor-pointer">
      <input
        type="checkbox"
        name="headers"
        [(ngModel)]="showHeaders"
        class="toggle toggle-primary"
        [disabled]="showAllHorizontalLines"
      />
      Headers 1st row
    </label>
    <label class="flex gap-4 align-middle cursor-pointer">
      <input
        type="checkbox"
        name="horizontal-lines"
        [(ngModel)]="showAllHorizontalLines"
        class="toggle toggle-primary"
      />
      All horizontal lines
    </label>
    <label class="flex gap-4 align-middle cursor-pointer">
      <input
        type="checkbox"
        name="allow-multiple-tables"
        [(ngModel)]="allowMultipleTables"
        class="toggle toggle-primary"
      />
      Allow multiple tables
    </label>
    <label class="flex gap-4 align-middle cursor-pointer">
      <input type="checkbox" name="show-dash" [(ngModel)]="showEmptyAsDash" class="toggle toggle-primary" />
      Show empty as <code>&mdash;</code>
    </label>
    <label class="flex gap-4 align-middle cursor-pointer">
      <input
        type="checkbox"
        name="show-header-controls"
        [(ngModel)]="showHeaderControls"
        class="toggle toggle-primary"
      />
      Show header controls
    </label>

    <div class="m-0 divider"></div>

    <label class="cursor-pointer label">
      <span class="label-text">Border Style</span>
    </label>

    <label class="flex gap-4 align-middle cursor-pointer">
      <input type="radio" name="border" value="norc" [(ngModel)]="border" class="radio radio-primary" />
      Single
    </label>
    <label class="flex gap-4 align-middle cursor-pointer">
      <input type="radio" name="border" value="honeywell" [(ngModel)]="border" class="radio radio-primary" />
      Double
    </label>
    <label class="flex gap-4 align-middle cursor-pointer">
      <input type="radio" name="border" value="ramac" [(ngModel)]="border" class="radio radio-primary" />
      ASCII
    </label>
    <label class="flex gap-4 align-middle cursor-pointer">
      <input type="radio" name="border" value="void" [(ngModel)]="border" class="radio radio-primary" />
      None
    </label>

    <div class="m-0 divider"></div>

    <div class="box-border flex flex-col gap-2 pr-4">
      <label class="cursor-pointer label">
        <span class="label-text"
          >Separator: <span class="italic">{{ activeSeparator }}</span>
          <span *ngIf="separator === Separators.AUTO_DETECT" class="text-2xs"> (auto)</span>
        </span>
      </label>
      <div class="btn-group">
        <input
          type="radio"
          name="options"
          data-title="Auto"
          class="btn btn-square"
          [value]="Separators.AUTO_DETECT"
          [checked]="separator === Separators.AUTO_DETECT && !customSeparator"
          [(ngModel)]="separator"
        />
        <input
          type="radio"
          name="options"
          data-title="Tab"
          class="btn btn-square"
          [value]="Separators.TAB"
          [checked]="separator === Separators.TAB && !customSeparator"
          [(ngModel)]="separator"
        />
        <input
          type="radio"
          name="options"
          data-title="4 Spaces"
          class="btn btn-square text-2xs"
          [value]="Separators.FOUR_SPACES"
          [checked]="separator === Separators.FOUR_SPACES && !customSeparator"
          [(ngModel)]="separator"
        />
        <input
          type="radio"
          name="options"
          data-title=","
          class="btn btn-square"
          [value]="Separators.COMMA"
          [checked]="separator === Separators.COMMA && !customSeparator"
          [(ngModel)]="separator"
        />
        <input
          type="radio"
          name="options"
          data-title="|"
          class="btn btn-square"
          [value]="Separators.PIPE"
          [checked]="separator === Separators.PIPE && !customSeparator"
          [(ngModel)]="separator"
        />
      </div>
      <div class="form-control">
        <label class="cursor-pointer input-group input-group-sm">
          <span>Custom</span>
          <input
            type="text"
            class="w-40 input input-bordered input-sm"
            name="separator"
            [(ngModel)]="customSeparator"
            (input)="onSettingsChange()"
          />
        </label>
      </div>
    </div>

    <div class="m-0 divider"></div>

    <label class="cursor-pointer label">
      <div class="label-text">Tips:</div>
    </label>

    <p class="text-sm">Add <code class="text">---</code> for horizontal divider</p>
  </form>

  <!-- <div class="m-0 divider"></div> -->
  <!-- <pre class="px-2 py-1 m-1 text-sm bg-slate-300">{{ selectedHeaders | json }}</pre> -->
</div>

<div class="w-1 m-0 divider divider-horizontal"></div>

<div class="right p-0 grid grid-rows-[1fr_2px_1fr] gap-2 w-full overflow-hidden relative" [@fadeInOut]>
  <label for="url-modal" class="fixed mt-3 btn-sm btn btn-accent modal-button right-14"> URL </label>

  <pre
    #input
    class="px-4 py-2 overflow-auto text-sm rounded right-top outline-0 :active:border-2"
    contenteditable="true"
    (input)="onInputChanged($event)"
  ></pre>

  <div class="absolute flex justify-center top-4 right-4 tooltip tooltip-left tooltip-info" data-tip="Clear input">
    <button class="btn btn-circle btn-xs" *ngIf="(inputText ?? '').length > 0" (click)="clearInput()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <div class="h-1 m-0 divider"></div>

  <div class="relative overflow-auto">
    <div class="absolute flex-col w-full ml-1 bg-scroll" *ngIf="showHeaderControls" [@fadeInOut]>
      <ng-container *ngFor="let headers of columnHeaders; let i = index; trackBy: trackByIndex">
        <div class="absolute" [ngStyle]="{ 'margin-top': 'calc(' + getSubTableMarginTop(i) + 'px + 21px)' }">
          <div class="dropdown">
            <label tabindex="0" class="w-6 h-6 rounded-full btn btn-xs btn-primary">
              <i class="fa-solid fa-table-columns"></i>
            </label>
            <ng-select
              tabindex="0"
              [closeOnSelect]="false"
              class="w-fit min-w-[300px] h-8 dropdown-content"
              [(ngModel)]="selectedHeaders[i]"
              [items]="headers"
              [multiple]="true"
              [appearance]="'headers'"
              (blur)="onSelectedHeadersChanged()"
              (close)="onSelectedHeadersChanged()"
            >
            </ng-select>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="absolute w-full bg-scroll" *ngIf="showHeaderControls">
      <ul
        *ngFor="let widths of columnWidths; let i = index; trackBy: trackByIndex"
        class="absolute flex m-0 h-auto pl-[20px]"
        [ngStyle]="{ 'margin-top': getSubTableMarginTop(i) + 'px' }"
      >
        <li
          *ngFor="let width of widths; let j = index; trackBy: trackByIndex"
          [ngStyle]="{ width: (width.hidden ? 0 : width.px) + 'px' }"
          class="inline-table"
        >
          <div class="justify-center btn-group flex-nowrap" [@fadeInOut]="showHeaderControls" *ngIf="!width.hidden">
            <button
              class="btn w-6 h-4 text-[10px] btn-square btn-xs rounded-l-full"
              (click)="alignColumn(i, j, 'left')"
              [class.btn-secondary]="getColumnAlignment(i, j) === 'left'"
            >
              <i class="fa-solid fa-align-left"></i>
            </button>
            <button
              class="btn w-4 h-4 text-[10px] btn-square btn-xs rounded-none"
              (click)="alignColumn(i, j, 'center')"
              [class.btn-secondary]="getColumnAlignment(i, j) === 'center'"
            >
              <i class="fa-solid fa-align-center"></i>
            </button>
            <button
              class="btn w-6 h-4 text-[10px] btn-square btn-xs rounded-r-full"
              (click)="alignColumn(i, j, 'right')"
              [class.btn-secondary]="getColumnAlignment(i, j) === 'right'"
            >
              <i class="fa-solid fa-align-right"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <pre
      class="h-auto px-4 py-2 overflow-auto leading-[17px] rounded right-bottom text-sm"
      placeholder="Paste data here"
      [@fadeInOut]="uuid"
      >{{ outputText }}</pre
    >
  </div>

  <button
    class="absolute gap-2 opacity-0 btn btn-primary btn-sm bottom-4 right-4 w-28"
    [class.opacity-100]="outputText.length > 0"
    [class.btn-success]="copied"
    (click)="copyToClipboard()"
  >
    <i class="fas fa-copy"></i>
    {{ copied ? 'Copied!' : 'Copy' }}
  </button>
</div>

<input type="checkbox" id="url-modal" class="modal-toggle" />
<div class="modal">
  <div class="relative modal-box">
    <label for="url-modal" class="absolute btn btn-sm btn-circle right-2 top-2">✕</label>
    <div class="w-full form-control">
      <label class="w-full label">
        <span class="label-text">Enter URL to fetch a JSON array of objects:</span>
      </label>
      <input
        type="text"
        placeholder="URL here..."
        class="w-full input input-bordered"
        [class.input-error]="urlInput && !isUrlInputValid"
        [class.input-success]="isUrlInputValid"
        [(ngModel)]="urlInput"
      />
      <label class="label">
        <span class="label-text-alt"></span>
        <span class="label-text-alt">{{ urlInput ? (isUrlInputValid ? 'Valid URL' : 'Invalid URL') : '' }}</span>
      </label>
    </div>
    <div class="modal-action">
      <label
        for="url-modal"
        class="flex items-center gap-2 btn"
        [ngClass]="{ 'btn-disabled': !isUrlInputValid }"
        (click)="fetch()"
      >
        <i class="fas fa-sync-alt"></i>
        Fetch
      </label>
    </div>
  </div>
</div>
